@import url(../root-styles/root.css);


.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines before truncation */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis ;
}

.truncate {
    width: 100%; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#diary-form {
    font-family: 'Shameimaru Sans';
    max-width: 1344px;
}

#create-diary-button, #discard-diary-button, #update-diary-button {
    font-family: 'Trueno';
    padding: var(--pd1) var(--pd2);
    border-radius: var(--br2);
    border: 1px solid var(--purple);
    box-shadow: var(--shadow-secondary);
    color: var(--black-secondary);
    font-weight: 400;
    transition: scale .15s ease;
}



#create-diary-button, #update-diary-button {
    margin-left: var(--mg3);
    background: var(--green-secondary);
}

#discard-diary-button {
    background: var(--red-third);
}

#create-diary-button:hover, #discard-diary-button:hover, #update-diary-button:hover {
    scale: 1.1;
    box-shadow: var(--shadow-primary);
}

.empty-list {
    font-family: 'Trueno';
    font-weight: 200;
    color: var(--gray-secondary);
    text-align: center;
    padding: calc(5vh) 0;
}

#body {
    display: flex; 
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding-top: var(--pd-body);
    position: relative;
}

.auth-name {
    color: var(--green-primary);
    text-shadow: var(--shadow-primary);
    font-size: var(--fs6) !important;
}

.auth-name1 {
    color: var(--blue-primary);
    text-shadow: var(--shadow-primary);
    font-size: var(--fs5);

}

#intro-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    opacity: 0;
    background: var(--gradient-primary);
}

#intro {
    font-family: 'Shameimaru Sans';
    font-size: var(--fs4);
    padding: var(--pd4);
    text-align: center;
}

#navigator-bar {
    font-family: 'Raleway';
    flex-basis: 52px;
    background-color: var(--gray-primary);
    backdrop-filter: blur(20px);
    box-shadow: var(--shadow-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

#main-content {
    display: flex;
    flex-basis: auto;
    padding: var(--pd6);
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: var(--gap5); */
    overflow-x: hidden;
}

#greeting-phrase {
    font-family: 'Raleway';
    font-size: var(--fs1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap2);
    padding: var(--pd6) 0;
    padding-top: 0;
}

.edit-button, .delete-button {
    border: none;
    transition: scale .3s ease;
}

.edit-button:hover, .delete-button:hover {
    scale: 1.05;
}

.edit-button {
    width: 14px;
}

.delete-button {
    width: 16px;
}

.delete-botton, .edit-botton {
   transition: transform 0.15s ease;
}

.big-phrase {
    font-family: 'Shameimaru Sans Alternatives';
    font-size: var(--fs3);
    text-align: center;
    text-shadow: var(--text-sd2);
    line-height: 1.2em;
}

.small-phrase {
    text-wrap: wrap;
    padding: 10px;
    background-color: var(--yellow);
    border-radius: var(--br1);
}


#diary-card-container {
    /* flex-grow: 1; */
    margin-bottom: auto;
    padding-top: var(--pd6);
    padding-bottom: var(--pd6);
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap2);
    padding-left: var(--pd1);
    overflow-y: scroll;
    overflow-x: visible;
}

#diary-card-container::-webkit-scrollbar {
    width: 8px;  /* Width of the scrollbar */
}

#diary-card-container::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Background of the scrollbar track */
    border-radius: 4px;
}

#diary-card-container::-webkit-scrollbar-thumb {
    background: #888;  /* Color of the scrollbar thumb */
    border-radius: 4px;
}

#diary-card-container::-webkit-scrollbar-thumb:hover {
    background: #555;  /* Color of the scrollbar thumb on hover */
}

.form {
    padding-bottom: var(--pd6);
}

.header-container {
    font-size: var(--fs1);
    font-weight: 600;
    margin-bottom: var(--mg5);
}

.diary-container-item {
    flex-basis: calc(var(--fb1) - var(--gap2));
    max-width: var(--mw1);
    height: var(--he2);  
    min-height: var(--he2);
}

.diary-container-item-full {
    height: auto !important;
}

.diary-card {
    display: flex;
    font-family: 'Raleway';
    font-weight: 300;
    width: 100%;
    cursor: pointer;
    background-color: var(--bg-color1);
    padding: var(--pd4) var(--pd5);
    border-radius: var(--br2);
    color: var(--black-secondary) ;
    box-shadow: var(--shadow-secondary);
    border: 1px solid var(--bg-color1);
    transition: box-shadow 0.15s ease, transform 0.15s ease, border 0.15s ease , height .3s ease;
}

#diary-content{
    width: 100%;
    max-width: 100%;
    min-height: 20vh;
    padding: var(--pd3);
}

label {
    display: block;
    padding-bottom: var(--pd1);
}

.diary-main-content {
    flex-grow: 1;
}

#diary-card-adder {
    border: 1px dashed var(--black-primary);
    width: 100%;
    cursor: pointer;
    max-width: var(--mw1);
    box-shadow: var(--shadow-secondary);
    border-radius: var(--br2);
    /* border: 1px solid var(--bg-color1); */
    background-color: var(--bg-color1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

#diary-card-adder:hover {
    box-shadow: var(--shadow-primary);
}

#add-sign {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--fs4);
    border-radius: 50%;
    border: 1.5px dashed var(--black-primary);
}

.diary-card:hover {
    box-shadow: var(--shadow-primary);
    transform: translateY(-1px);
    border: 1px solid var(--blue-secondary);
}

.diary-card-content {
    font-size: var(--fs2);
    font-weight: 400;
    /* overflow: scroll; */
}

.header-container, .header-left, .header-right{
    display: flex;
    justify-content: space-between;
}

.header-left  {
    gap: var(--gap2);
}

.header-right  {
    justify-content: center;
    flex-direction: column;
    padding-left: var(--pd3);
    margin-left: var(--mg3);
    border-left: 1px solid var(--gray-secondary);
    gap: var(--gap5);
    
}

.title, .date {
    padding: var(--pd1) var(--pd4);
    border: 1px dashed var(--black-secondary);
    border-radius: var(--br1);
    background-color: var(--green-primary);
    height: 26px;
    text-wrap: nowrap;
}


.title {
    text-align: center;
    max-width: 112px;
    background: var(--blue-secondary);
}

#float-diary-adder {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs4);
    width: 46px;
    height: 46px;
    background: var(--gradient-secondary);
    box-shadow: var(--shadow-secondary);
    border-radius: 50%;
    color: var(--bg-color1);
    border: 1px solid var(--black-secondary);
    bottom: calc(var(--mg5) + 46px);
    right: calc(var(--mg5));
    cursor: pointer;
    transition: transform 0.2s ease;
}

#float-diary-adder::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(8px); 
    transform: scale(0.5);
    z-index: -1;
    transition: transform 0.2s ease;
}

#float-diary-adder:hover {
    transform: scale(1.1);
    --gradient-secondary: var(--gradient-primary);
    background: var(--gradient-secondary);
}

#float-diary-adder:hover::before {
    transform: scale(1.1);
}

.navigator-item {
    border: 1px dashed var(--blue-secondary);
    padding: var(--pd1) var(--pd3);
    border: 1px solid transparent;
    /* width: 100%; */
}

.navigator-item.active {
    border: 1px dashed var(--blue-secondary);
    box-shadow: var(--shadow-secondary);
    border-radius: var(--br1);
}

.dashboard {
    width: 100%;
    display: flex;
}

#statistic {
    font-family: 'Trueno';
    width: 100%;
    margin: var(--mg2);
}

.statistic-item {
    border-radius: var(--br2);
    box-shadow: var(--shadow-secondary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--pd6);
    transition: box-shadow .3s ease;
    margin-bottom: var(--mg5);
}

.statistic-item:hover {
    box-shadow: var(--shadow-primary);
}

.statistic-item>span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--blue-secondary);
    width: var(--w4);
    height: var(--he4);
}
.fade-in1 {
    animation: fadeIn .5s ease;
}

.desolve {
    animation: desolve 2.5s;
}

.bouncing-pop-up {
    animation: bouncing-pop-up .5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes desolve {
    0% {
        z-index: 100;
        opacity: 1;
    }
    60% {
        z-index: 100;
        opacity: 1;
    }
    90% {
        z-index: 100;
        opacity: 0;
    }
    100% {
        z-index: -100;
        opacity: 0;
    }
}

@keyframes bouncing-pop-up {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    40% {
        transform: scale(1.03);
        opacity: 1;
    }
    60% {
        transform: scale(0.97);
        opacity: 1;
    }
    80% {
        transform: scale(1.02);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@media (min-width: 912px) {
    :root { 
        --pd-body: 65px;
    }

    #body  { 
        flex-direction: row;
    }

    #intro {
        font-family: 'Shameimaru Sans';
        font-size: var(--fs-tab);
        padding: var(--pd4);
        text-align: center;
    }

    #navigator-bar {
        gap: var(--gap1);
        flex-basis: 335px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: var(--pd3);
        padding-top: var(--pd6);
    }

    #diary-card-container {
        gap: var(--gap5);
        padding: var(--pd2);
    }

    #greeting-phrase {
        padding:var(--pd6) 0 var(--pd6) 0;
    }

    .auth-name {
        color: var(--green-primary);
        text-shadow: var(--shadow-primary);
        font-size: var(--fs4);
    }
    
    .auth-name1 {
        color: var(--blue-primary);
        text-shadow: var(--shadow-primary);
        font-size: var(--fs5);
    
    }

    .navigator-item {
        border: 1px dashed var(--blue-secondary);
        padding: var(--pd1) var(--pd3);
        border: 1px solid transparent;
        width: 100%;
    }

    .navigator-item:hover {
        padding: var(--pd1) var(--pd3);
        border: 1px dashed var(--blue-secondary);
        width: 100%;
        box-shadow: var(--shadow-secondary);
        border-radius: var(--br1);
    }

    .navigator-item a {
        margin: 0 var(--mg3);
        padding: var(--pd1) var(--pd3);
        display: block;
        /* width: 100%; */
    }

    .big-phrase { 
        font-size: var(--fs-tab);
    }

    .small-phrase {
        font-size: var(--fs2);
    }

    .diary-container-item {
        flex-basis: calc(var(--fb1) - var(--gap5));
        height: var(--he3);
        min-height: var(--he3);
    }

    .edit-buton {
        width: 16px;
    }

    .delete-button {
        width: 18px;
    }

    .title {
        max-width: 244px;
        
    }

    #float-diary-adder {
        width: 54px;
        height: 54px;
        bottom: calc(var(--mg5) + 76px);
        right: calc(var(--mg5) + 36px);
    }

    #create-diary-button, #discard-diary-button, #update-diary-button {
        padding: var(--pd2) var(--pd3);
    }

    .statistic-item>span {
        width: calc(var(--w4) + 15px);
        height: calc(var(--he4) + 15px);
        border: 2px dashed var(--blue-secondary);
    }
}

@media (min-width: 1444px) {
    .diary-container-item {
        flex-basis: calc(var(--fb2) - var(--gap5));
        
    }
}

@media (min-width: 1920px) {
    .diary-container-item {
        flex-basis: calc(var(--fb3) - var(--gap5));
    }
}