:root {
    --bg-color1: #f8f8f8;
    --green-primary: #2EE4B1;
    --green-secondary: #A0F28A;
    --blue-primary: #3498DB;
    --blue-secondary: #00B5E4;
    --red-primary: #E74C3C;
    --red-secondary: #C0392B;
    --purple: #8A2BE2;
    --yellow: #F9F871;
    --black-primary: #050505;
    --black-secondary: #333333;
    --gray-primary: #F2F2F2;
    --gray-secondary: #C0C0C0;
    --gradient-secondary: linear-gradient(36deg, #3498DB, var(--purple), #F9F871);
    --gradient-primary: linear-gradient(45deg, #2EE4B1, var(--purple), #F9F871);
    --shadow-primary: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    --shadow-secondary: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    --text-sd1: 1px 1px 3px rgba(0, 0, 0, 0.3);
    --text-sd2: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
